name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

  permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: generate snake
        uses: Platane/snk@v3
        with:
          github_user_name: ana-365-there
          outputs: |
            ./snake.svg

      - name: push
        uses: EndBug/add-and-commit@v9
        with:
          add: "."
          message: "Generated Snake Animation"
